<div class="container">
    <form class="register" [formGroup]="form">

        <fieldset>
            <h2>Registration Form</h2>

            <!-- username -->
            <p class="field field-icon">
                <label for="username"><span><i class="fas fa-user"></i></span></label>
                <input class="input-error" type="text" formControlName="username" id="username" placeholder="Johny">
            </p>
            <p class="error">
                Username is required!
            </p>

            <!-- email -->
            <p class="field field-icon">
                <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                <input type="email" id="email" formControlName="email" placeholder="john.doe@gmail.com">
            </p>
            <p class="error">
                Email is required!
            </p>
            <p class="error">
                Email is not valid!
            </p>

            <!-- telephone -->
            <p class="field field-icon">
                <label for="tel"><span><i class="fas fa-phone"></i></span></label>
                <select id="select-tel" formControlName="ext" class="tel">
                    <option value="00359">+359</option>
                </select>
                <input type="text" id="tel" formControlName="tel" placeholder="885 888 888">
            </p>

            <!-- password -->
            <ng-container formGroupName="pass">
                <p class="field field-icon">
                    <label for="password"><span><i class="fas fa-lock"></i></span></label>
                    <input type="password" id="password" name="password" formControlName="password"
                        placeholder="******">
                </p>
                <p class="error">
                    Password is required!
                </p>
                <p class="error">
                    Password must be at least 4 characters!
                </p>

                <!-- rePassword -->
                <p class="field field-icon">
                    <label for="rePassword"><span><i class="fas fa-lock"></i></span></label>
                    <input type="password" id="rePassword" name="rePassword" formControlName="rePassword"
                        placeholder="******">
                </p>

                <p class="error"
                    *ngIf="form.get('pass')?.errors?.['sameValueGroupValidator'] && form.get('pass')?.get('rePassword')?.touched">
                    Repeat Password does not match password!</p>
            </ng-container>
            <button disabled>Create Account</button>

            <p class="text-center">
                Have an account?
                <a href="/login">Log In</a>
            </p>

        </fieldset>
    </form>
</div>