<div class="container">
    <form class="register" [formGroup]="form" (ngSubmit)="registerHandler()">

        <fieldset>
            <h2>Registration Form</h2>

            <!-- username -->
            <p class="field field-icon">
                <label for="username"><span><i class="fas fa-user"></i></span></label>
                <input class="input-error" type="text" formControlName="username" id="username" placeholder="Johny">
            </p>
            <p *ngIf="form.get('username')?.touched && form.get('username')?.errors?.['required'] && form.get('username')?.errors?.['minlength'] " class="error">
                Username is required!
            </p>

            <!-- email -->
            <p class="field field-icon">
                <label for="email"><span><i class="fas fa-envelope"></i></span></label>
                <input type="email" id="email" formControlName="email" placeholder="john.doe@gmail.com">
            </p>
            <ng-container *ngIf="form.get('email')?.touched" >

            <p class="error" *ngIf="form.get('email')?.errors?.['required']">
                Email is required!
            </p>
            <p class="error" *ngIf="form.get('email')?.errors?.['appEmailValidator']">
                Email is not valid!
            </p>
              </ng-container>
            <!-- telephone -->
            <p class="field field-icon">
                <label for="tel"><span><i class="fas fa-phone"></i></span></label>
                <select id="select-tel" formControlName="ext" class="tel">
                    <option value="00359">+359</option>
                </select>
                <input type="text" id="tel" formControlName="tel" placeholder="885 888 888">
            </p>

            <!-- password -->
            <ng-container formGroupName="pass">
                <p class="field field-icon">
                    <label for="password"><span><i class="fas fa-lock"></i></span></label>
                    <input type="password" id="password" name="password" formControlName="password"
                        placeholder="******">
                </p>
                <ng-container *ngIf="form.get('pass')?.get('password')?.touched">
                <p class="error" *ngIf="form.get('pass')?.get('password')?.errors?.['required']">
                               
                    Password is required!
                </p>
                <p class="error" *ngIf="form.get('pass')?.get('password')?.errors?.['minlength']">
                    Password must be at least 5 characters!
                </p>
            </ng-container>
                <!-- rePassword -->
                <p class="field field-icon">
                    <label for="rePassword"><span><i class="fas fa-lock"></i></span></label>
                    <input type="password" id="rePassword" name="rePassword" formControlName="rePassword"
                        placeholder="******">
                </p>

                <p class="error"
                    *ngIf="form.get('pass')?.errors?.['sameValueGroupValidator'] && form.get('pass')?.get('rePassword')?.touched">
                    Repeat Password does not match password!</p>
            </ng-container>
            <button [disabled]="form.invalid">Create Account</button>

            <p class="text-center">
                Have an account?
                <a routerLink="/login" routerLinkActive="router-link-active" >Log In</a>
            </p>

        </fieldset>
    </form>
</div>