<form #loginForm="ngForm" (submit)="submitHandler(loginForm)">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" ngModel email required #emailInput="ngModel">
    </div>
    <div *ngIf="emailInput?.errors?.['required']">Email is required</div>
    <div *ngIf="emailInput?.errors?.['email']">Email is not valid</div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" id="password" name="password" ngModel>
    </div>
    <button>Submit</button>
</form>
